.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  // color: white;
  background-color: #251b2d;
  .logo {
    width:24px;
    height:24px;
  }
  // .uiw-font .uiw-font-Planet {
  //   text-align: center;

  //   font-size: 12px;
  // }
}
