.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #251b2d;
  .uiw-font .uiw-font-Planet {
    text-align: center;

    font-size: 12px;
  }
}
